.blocks-posts-list #app .results-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.blocks-posts-list #app .results-list > div {
  display: flex;
  border-bottom: solid 1px #ccc;
  padding: 10px 0px;
  margin-bottom: 20px;
}
.blocks-posts-list #app .results-list > div .news-image {
  width: 150px;
  height: 150px;
}
.blocks-posts-list #app .results-list > div .news-content {
  flex: 1;
}
.blocks-posts-list #app .results-list > div .news-content .news-title {
  margin: 0;
}
.blocks-posts-list #app .results-list > div .news-content .news-title a {
  text-decoration: none;
  font-weight: bold;
}
.blocks-posts-list #app .results-list > div .news-content .news-date {
  color: #727272;
  font-size: 12px;
}
.blocks-posts-list #app .results-list > div .news-content .news-excerpt {
  margin: 0;
  font-size: 14px;
}
.blocks-posts-list #app .custom-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.blocks-posts-list #app .custom-pagination .total {
  width: 150px;
  text-align: center;
  color: black;
  font-size: 14px;
}
.blocks-posts-list #app .custom-pagination .page-numbers {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}
.blocks-posts-list #app .custom-pagination .page-numbers li {
  padding: 5px 5px;
}
.blocks-posts-list #app .custom-pagination .page-numbers li .page-numbers {
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: black;
  text-decoration: none;
  border-radius: 50%;
  font-size: 12px;
}
.blocks-posts-list #app .custom-pagination .page-numbers li .page-numbers.prev::before {
  content: " ";
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  cursor: pointer;
  display: block;
  position: relative;
  left: 2px;
}
.blocks-posts-list #app .custom-pagination .page-numbers li .page-numbers.next::before {
  content: " ";
  border-right: 3px solid black;
  border-top: 3px solid black;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  cursor: pointer;
  display: block;
  position: relative;
  right: 2px;
}
.blocks-posts-list #app .custom-pagination .page-numbers li .page-numbers:hover {
  background-color: white;
}
.blocks-posts-list #app .custom-pagination .page-numbers li .page-numbers.current {
  background-color: black;
  color: white;
}
.blocks-posts-list #app .custom-pagination .page-numbers li a {
  display: block;
}
 